<!DOCTYPE html>
<html lang="en">
<head>
<title>Lighthouse Island Bistro</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
<div id="wrapper">  
  <header>
      <h1>Karte za aktualno tekmo</h1>
      <span>10% popust še danes</span>
  </header>  
  <nav>
    <ul>
	 <li><a onclick="domov()">Domov</a></li>
     <!--- <li><a href="PL.html">Primer League</a></li> --->
	 <li><a onclick="karte()">Nakup karte</a></li>
     <li><a onclick="majice()">Majice</a></li>
     <li><a onclick="kape()">Kape</a></li>
	 <li><a onclick="zastave()">Zastave</a></li>
	 <li><a onclick="kontakt()">Kontakt</a></li>
	</ul> 
   </nav>
<main> 
    <figure>
     <img src="{{ url_for('static', filename='vstopnica2.jpg') }}" width="250" height="355" alt="Lighthouse Island">
	 <figcaption>Island Lighthouse, Built in 1870</figcaption>
	 </figure>
   	<h2>Locally Roasted Free-Trade Coffee</h2>
    <p>Indulge in the aroma of freshly ground roast coffee. Specialty drinks are available hot or cold.</p>
    <h2>Specialty Pastries</h2>
    <p>Enjoy a selection of our fresh-baked, organic pastries, including 
  fresh-fruit muffins, scones, croissants, and cinnamon rolls.</p>
  	<h2>Lunchtime is Anytime</h2>
    <p>Savor delicious wraps and sandwiches on hearty, whole-grain breads with locally-grown salad, fruit, and vegetables. </p>
    <h2>Panoramic View</h2>
	<p>Take in some scenery! The top of our lighthouse offers a panoramic view of the countryside. Challenge your friends to climb our 100-stair tower.</p>
   <div id="offer">
   <a href="#">Special Offer</a>
</div>   
  </main> 
   <footer>Copyright &copy; 2025
   </footer>
  </div> 
  <div class="stadion">
    <img src="../static/image/stadion/image 1.png" width="150" height="250" alt="Lighthouse Island">   
    <img src="../static/image/stadion/Rectangle 1.png" width="150" height="250" alt="Lighthouse Island">   
    <img src="../static/image/stadion/Rectangle 2.png" width="150" height="250" alt="Lighthouse Island">   
    <img src="../static/image/stadion/Rectangle 3.png" width="150" height="250" alt="Lighthouse Island">   
    <img src="../static/image/stadion/Rectangle 4.png" width="150" height="250" alt="Lighthouse Island">   
    <img src="../static/image/stadion/Rectangle 5.png" width="150" height="250" alt="Lighthouse Island">   
    <img src="../static/image/stadion/Rectangle 6.png" width="150" height="250" alt="Lighthouse Island">   
    <img src="../static/image/stadion/Rectangle 7.png" width="150" height="250" alt="Lighthouse Island">   
    <img src="../static/image/stadion/Rectangle 8.png" width="150" height="250" alt="Lighthouse Island">   
    <img src="../static/image/stadion/Rectangle 9.png" width="150" height="250" alt="Lighthouse Island">   
    <img src="../static/image/stadion/Rectangle 10.png" width="150" height="250" alt="Lighthouse Island">   
    <img src="../static/image/stadion/Rectangle 12.png" width="150" height="250" alt="Lighthouse Island">   
    <img src="../static/image/stadion/Rectangle 12.png" width="150" height="250" alt="Lighthouse Island">   
    <img src="../static/image/stadion/Rectangle 13.png" width="150" height="250" alt="Lighthouse Island"> 
    <img src="../static/image/stadion/Rectangle 14.png" width="150" height="250" alt="Lighthouse Island">
    <img src="../static/image/stadion/Rectangle 15.png" width="150" height="250" alt="Lighthouse Island">
    <img src="../static/image/stadion/Rectangle 16.png" width="150" height="250" alt="Lighthouse Island">
    <img src="../static/image/stadion/Rectangle 17.png" width="150" height="250" alt="Lighthouse Island">
    <img src="../static/image/stadion/Rectangle 18.png" width="150" height="250" alt="Lighthouse Island">  
    <img src="../static/image/stadion/Rectangle 19.png" width="150" height="250" alt="Lighthouse Island">
    <img src="../static/image/stadion/Rectangle 20.png" width="150" height="250" alt="Lighthouse Island">
    <img src="../static/image/stadion/Rectangle 21.png" width="150" height="250" alt="Lighthouse Island">
    <img src="../static/image/stadion/Rectangle 22.png" width="150" height="250" alt="Lighthouse Island">
    <img src="../static/image/stadion/Rectangle 23.png" width="150" height="250" alt="Lighthouse Island">
    <img src="../static/image/stadion/Rectangle 24.png" width="150" height="250" alt="Lighthouse Island">
    <img src="../static/image/stadion/Rectangle 25.png" width="150" height="250" alt="Lighthouse Island">
    <img src="../static/image/stadion/Rectangle 26.png" width="150" height="250" alt="Lighthouse Island">
    <img src="../static/image/stadion/Rectangle 27.png" width="150" height="250" alt="Lighthouse Island">
    <img src="../static/image/stadion/Rectangle 28.png" width="150" height="250" alt="Lighthouse Island">
    <img src="../static/image/stadion/Rectangle 29.png" width="150" height="250" alt="Lighthouse Island">
    <img src="../static/image/stadion/Rectangle 30.png" width="150" height="250" alt="Lighthouse Island">
    <img src="../static/image/stadion/Rectangle 31.png" width="150" height="250" alt="Lighthouse Island">
    <img src="../static/image/stadion/Rectangle 32.png" width="150" height="250" alt="Lighthouse Island">
    <img src="../static/image/stadion/Rectangle 33.png" width="150" height="250" alt="Lighthouse Island">
    <img src="../static/image/stadion/Rectangle 34.png" width="150" height="250" alt="Lighthouse Island">
    <img src="../static/image/stadion/Rectangle 35.png" width="150" height="250" alt="Lighthouse Island">
    <img src="../static/image/stadion/Rectangle 36.png" width="150" height="250" alt="Lighthouse Island">   
    <img src="../static/image/stadion/Rectangle 37.png" width="150" height="250" alt="Lighthouse Island">   
    <img src="../static/image/stadion/Rectangle 38.png" width="150" height="250" alt="Lighthouse Island">   
    <img src="../static/image/stadion/Rectangle 39.png" width="150" height="250" alt="Lighthouse Island">   
    <img src="../static/image/stadion/Rectangle 40.png" width="150" height="250" alt="Lighthouse Island">   
    <img src="../static/image/stadion/Rectangle 41.png" width="150" height="250" alt="Lighthouse Island">   
    <img src="../static/image/stadion/Rectangle 42.png" width="150" height="250" alt="Lighthouse Island">   
    <img src="../static/image/stadion/Rectangle 43.png" width="150" height="250" alt="Lighthouse Island">   
    <img src="../static/image/stadion/Rectangle 44.png" width="150" height="250" alt="Lighthouse Island">   
    <img src="../static/image/stadion/Rectangle 45.png" width="150" height="250" alt="Lighthouse Island">   
    <img src="../static/image/stadion/Rectangle 46.png" width="150" height="250" alt="Lighthouse Island">   
    <img src="../static/image/stadion/Rectangle 47.png" width="150" height="250" alt="Lighthouse Island">   
    <img src="../static/image/stadion/Vector 3.png" width="150" height="250" alt="Lighthouse Island"> 
    <img src="../static/image/stadion/Vector 4.png" width="150" height="250" alt="Lighthouse Island">
    <img src="../static/image/stadion/Vector 5.png" width="150" height="250" alt="Lighthouse Island">
    <img src="../static/image/stadion/Vector 6.png" width="150" height="250" alt="Lighthouse Island">
    <img src="../static/image/stadion/Vector 7.png" width="150" height="250" alt="Lighthouse Island">
    <img src="../static/image/stadion/Vector 8.png" width="150" height="250" alt="Lighthouse Island">  
    <img src="../static/image/stadion/Vector 9.png" width="150" height="250" alt="Lighthouse Island">
    <img src="../static/image/stadion/Vector 10.png" width="150" height="250" alt="Lighthouse Island">
    <img src="../static/image/stadion/Vector 11.png" width="150" height="250" alt="Lighthouse Island">
    <img src="../static/image/stadion/Vector 12.png" width="150" height="250" alt="Lighthouse Island">
    <img src="../static/image/stadion/Vector 13.png" width="150" height="250" alt="Lighthouse Island">
    <img src="../static/image/stadion/Vector 14.png" width="150" height="250" alt="Lighthouse Island">
    <img src="../static/image/stadion/Vector 15.png" width="150" height="250" alt="Lighthouse Island">
    <img src="../static/image/stadion/Vector 16.png" width="150" height="250" alt="Lighthouse Island">
    <img src="../static/image/stadion/Vector 17.png" width="150" height="250" alt="Lighthouse Island">
    <img src="../static/image/stadion/Vector 18.png" width="150" height="250" alt="Lighthouse Island">
    <img src="../static/image/stadion/Vector 19.png" width="150" height="250" alt="Lighthouse Island">
    <img src="../static/image/stadion/Vector 20.png" width="150" height="250" alt="Lighthouse Island">
    <img src="../static/image/stadion/Vector 21.png" width="150" height="250" alt="Lighthouse Island">
    <img src="../static/image/stadion/Vector 22.png" width="150" height="250" alt="Lighthouse Island">
    <img src="../static/image/stadion/Vector 23.png" width="150" height="250" alt="Lighthouse Island">
    <img src="../static/image/stadion/Vector 24.png" width="150" height="250" alt="Lighthouse Island">
    <img src="../static/image/stadion/Vector 25.png" width="150" height="250" alt="Lighthouse Island">
    <img src="../static/image/stadion/Vector 26.png" width="150" height="250" alt="Lighthouse Island">
</div>
  <script>
	// const myImage = new Image(100, 200);
	// myImage.src = "lighthouseisland.jpg";
	// document.body.appendChild(myImage);
	
	// Funkcija za odjavo
        function domov() {
            // P../static/image/stadion/Reusmeri na pot za odjavo
            window.location.href = '/';
        }
	// Funkcija za odjavo
        function karte() {
            // Preusmeri na pot za odjavo
            window.location.href = '/karte';
        }
		
	// Funkcija za odjavo
        function majice() {
            // Preusmeri na pot za odjavo
            window.location.href = '/majice';
        }
	// Funkcija za odjavo
        function kape() {
            // Preusmeri na pot za odjavo
            window.location.href = '/kape';
        }
	// Funkcija za odjavo
        function zastave() {
            // Preusmeri na pot za odjavo
            window.location.href = '/zastave';
        }
	// Funkcija za odjavo
        function kontakt() {
            // Preusmeri na pot za odjavo
            window.location.href = '/kontakt';
        }
  </script>

  
</body>
</html>


