<!DOCTYPE html>
<html lang="en">
<head>
<title>Lighthouse Island Bistro</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
<div id="wrapper">  
  <header>
      <h1>Majice za nogometne tekme</h1>
      <span>majice iz bombaža</span>
  </header>  
  <nav>
    <ul>
	 <li><a onclick="domov()">Domov</a></li>
     <!--- <li><a href="PL.html">Primer League</a></li> --->
	 <li><a onclick="karte()">Nakup karte</a></li>
     <li><a onclick="majice()">Majice</a></li>
     <li><a onclick="kape()">Kape</a></li>
	 <li><a onclick="zastave()">Zastave</a></li>
	 <li><a onclick="kontakt()">Kontakt</a></li>
	</ul> 
   </nav>
<main> 
    <figure>
     <img src="{{ url_for('static', filename='majice.jpg') }}" width="250" height="355" alt="Lighthouse Island">
	 <figcaption>Island Lighthouse, Built in 1870</figcaption>
	 </figure>
   	<h2>Locally Roasted Free-Trade Coffee</h2>
    <p>Indulge in the aroma of freshly ground roast coffee. Specialty drinks are available hot or cold.</p>
    <h2>Specialty Pastries</h2>
    <p>Enjoy a selection of our fresh-baked, organic pastries, including 
  fresh-fruit muffins, scones, croissants, and cinnamon rolls.</p>
  	<h2>Lunchtime is Anytime</h2>
    <p>Savor delicious wraps and sandwiches on hearty, whole-grain breads with locally-grown salad, fruit, and vegetables. </p>
    <h2>Panoramic View</h2>
	<p>Take in some scenery! The top of our lighthouse offers a panoramic view of the countryside. Challenge your friends to climb our 100-stair tower.</p>
   <div id="offer">
   <a href="#">Special Offer</a>
</div>   
  </main> 
   <footer>Copyright &copy; 2018
   </footer>
  </div> 
  <script>
	// const myImage = new Image(100, 200);
	// myImage.src = "lighthouseisland.jpg";
	// document.body.appendChild(myImage);
	
	// Funkcija za odjavo
        function domov() {
            // Preusmeri na pot za odjavo
            window.location.href = '/';
        }
	// Funkcija za odjavo
        function karte() {
            // Preusmeri na pot za odjavo
            window.location.href = '/karte';
        }
		
	// Funkcija za odjavo
        function majice() {
            // Preusmeri na pot za odjavo
            window.location.href = '/majice';
        }
	// Funkcija za odjavo
        function kape() {
            // Preusmeri na pot za odjavo
            window.location.href = '/kape';
        }
	// Funkcija za odjavo
        function zastave() {
            // Preusmeri na pot za odjavo
            window.location.href = '/zastave';
        }
	// Funkcija za odjavo
        function kontakt() {
            // Preusmeri na pot za odjavo
            window.location.href = '/kontakt';
        }
  </script>
  
</body>
</html>


